* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0%;
    width: 100%;
    height: 100%;
    margin-right: 0%;
    background: rgba(182,228,255,1);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .HeaderBackground {
    width: 120%;
    height: 15%;
    background: rgba(200,241,254);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
  }
  .PetStoriesButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 100%;
    border-radius: 50%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .ContactUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 70%;
    border-radius: 50%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .AboutUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 40%;
    border-radius: 50%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .HomeButton {
    width: 14%;
    height: 11%;
    background: rgba(156,230,234,1);
    opacity: 1;
    position: absolute;
    top: 2%;
    left: 15.5%;
    overflow: hidden;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .Res-Paw-nsibilities {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18%;
    left: 10%;
    font-family: Alegreya Sans;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .Everythingregardingyournewpetwillbeinthiswebsite { 
    width: 42%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 37%;
    left: 35%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .Thiswayyouwontfeellost {
    width: 42%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 52%;
    left: 29%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .Dog {
    width: 42%;
    top: 15%;
    left: 25%;
    position: absolute;  
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
  }
  .Cat {
    width: 42%;
    top: 15%;
    left: 25%;
    position: absolute;  
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
  }
  
  .Selectpetthatyouhave {
    width: 42%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 85%;
    left: 29%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .dogpic {
    position: absolute;
    left:15%;
    top:40%; 
  }
  .catpic {
    position: absolute;
    right: -30%;
    top: 40%;
  }
  .petspic {
   position: absolute;
    left: 2%;
    top: 0.3%;
  }
  .DogButton{
    position: absolute;
    overflow: hidden;
    width: 17%;
    height: 7%;
    top: 67%;
    left: 15%;
    background-color: #90FACD;
  }
  .CatButton {
    position: absolute;
    overflow: hidden;
    width: 17%;
    height: 7%;
    top: 67%;
    left: 85%;
    background-color: #90FACD;
  }