
  .righthalf3{
    width: 50%;
    height: 100%;
    background: #AABDFF;
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 50%;
  }
  .bgcircle
  {
    position: absolute;
    width:71%;
    height: 125%;
    left: -50%;
    top: -5%;
    border-radius: 50%;
    background: #FFA0F0;
  }
  .Image53
  {
    position: absolute;
    width: 70%;
    top:35%;
    left: 17%;  
  }
  .Page5{
    width: 100%;
    height: 100%;
    background: #80D1FF;
    opacity: 1;
    position: absolute;
    top: 400%;
    left: 0%;  
  }
  .righthalf4{
    width: 50%;
    height: 100%;
    background: #AABDFF;
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 50%;
  }
  .textforlh{
    position: absolute;
width: 50%;
height: 100%;
left: 0%;
top: 5%;
  }
  .Image54{
    position: absolute;
    width: 70%;
    top:35%;
    left: 17%;    
  }
  .Page6{
    width: 100%;
    height: 100%;
    background: #80D1FF;
    opacity: 1;
    position: absolute;
    top: 500%;
    left: 0%;  
  }
  .righthalf5{
    width: 50%;
    height: 100%;
    background: #AABDFF;
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 50%;
  }
  .textforlh{
    position: absolute;
width: 50%;
height: 100%;
left: 0%;
top: 5%;
  }
  .Image55{
    position: absolute;
    width: 70%;
    top:35%;
    left: 17%;    
  }
  
  .Choosetheareawecanhelpwith {
    width: 53%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20%;
    left: 24%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .GeneralTipsButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 16%;
    left: 70%;
    overflow: hidden;
  }
  .GeneralTips {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 250%;
    opacity: 1;
    text-align: center;
  }
  .TrainingButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 28%;
    left: 70%;
    overflow: hidden;
  }
  .Training {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .HygeineButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 70%;
    overflow: hidden;
  }
  .Hygeine {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .HealthButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 52%;
    left: 70%;
    overflow: hidden;
  }
  .Health {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .BuyingSuppliesButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 64%;
    left: 70%;
    overflow: hidden;
  }
  .BuyingSupplies {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .FoodButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 76%;
    left: 70%;
    overflow: hidden;
  }
    .Food {
      width: 100%;
      height: 100%;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 25%;
      left: 3%;
      font-family: Alegreya Sans;
      font-weight: Regular;
      font-size: 36px;
      opacity: 1;
      text-align: center;
  }
  .DailyPlanButton {
    width: 24%;
    height: 9%;
    background: rgba(217,160,251,1);
    opacity: 1;
    position: absolute;
    top: 88%;
    left: 70%;
    overflow: hidden;
  }
  .DailyPlan {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .petspic {
    position: absolute;
     left: 2%;
     top: 0.3%;
   }
  .GeneralTipsButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 15.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .TrainingButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 27.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .HygeineButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 39.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .HealthButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 51.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .BuyingSuppliesButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 63.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .FoodButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 75.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .DailyPlanButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 87.5%;
    left: 69.5%;
    overflow: hidden;
  }

