* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  #Page {
    width: 100%;
    height: 100%;
    background: rgba(182,228,255,1);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
  }
  .YellowCircle {
    width: 64%;
    height: 152%;
    background: rgba(251,210,62,1);
    opacity: 1;
    position: absolute;
    top: -15%;
    left: -37%;
    border-radius: 50%;
    transform: rotate(-25.04deg);
  }
  .HeaderBackground {
    width: 100%;
    height: 15%;
    background: rgba(200,241,254,1);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
  }
  .PetStoriesButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 80%;
    border-radius: 50%;
  }
  .PetStories {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 79%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .ContactUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 57%;
    border-radius: 50%;
  }
  .ContactUs {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 56%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .AboutUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 34%;
    border-radius: 50%;
  }
  .AboutUs {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 33%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  #HomeButton {
    width: 15%;
    height: 10%;
    background: rgba(156,230,234,1);
    opacity: 1;
    position: absolute;
    top: 2%;
    left: 16%;
    overflow: hidden;
  }
  .Home {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 13%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .BuyingSuppliesButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 40%;
    overflow: hidden;
  }
  .BuyingSupplies {
    width: 24%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15%;
    left: 40%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .petspic {
    position: absolute;
     left: 2%;
     top: 0.3%;
   }