* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.Page {
  width: 100%;
  height: 100%;
  background: rgba(182,228,255,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.YellowCircle {
  width: 64%;
  height: 152%;
  background: rgba(251,210,62,1);
  opacity: 1;
  position: absolute;
  top: -15%;
  left: -37%;
  border-radius: 50%;
  transform: rotate(-25.04deg);
}
.QuestionMark{
 width: 100%; 
 height: 100%;
 opacity: 1;
 position: absolute;
 left: 40%;
 top: 30%;
}
.HeaderBackground {
  width: 100%;
  height: 15%;
  background: rgba(200,241,254,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.PetStoriesButton {
  width: 18%;
  height: 10%;
  background: rgba(134,240,255,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 2.5%;
  left: 80%;
  border-radius: 50%;
}
.PetStories {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20%;
  left: 0%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.ContactUsButton {
  width: 18%;
  height: 10%;
  background: rgba(134,240,255,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 2.5%;
  left: 57%;
  border-radius: 50%;
}
.ContactUs {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20%;
  left: 0%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.AboutUsButton {
  width: 18%;
  height: 10%;
  background: rgba(134,240,255,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 2.5%;
  left: 34%;
  border-radius: 50%;
}
.AboutUs {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20%;
  left: 0%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.HomeButton {
  width: 14%;
  height: 11%;
  background: rgba(156,230,234,1);
  opacity: 1;
  position: absolute;
  top: 2%;
  left: 15.5%;
  overflow: hidden;
}
.Home {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20%;
  left: 0%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.Choosetheareawecanhelpwith {
  width: 53%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20%;
  left: 24%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.GeneralTipsButton {
  width: 24%;
  height: 9%;
  background: rgba(217,161,252,1);
  opacity: 1;
  position: absolute;
  top: 19%;
  left: 70%;
  overflow: hidden;
}
.GeneralTips {
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25%;
  left: 3%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.TrainingButton {
  width: 24%;
  height: 9%;
  background: rgba(217,161,252,1);
  opacity: 1;
  position: absolute;
  top: 29%;
  left: 70%;
  overflow: hidden;
}
.Training {
  width: 24%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30.5%;
  left: 70%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.HygeineButton {
  width: 24%;
  height: 9%;
  background: rgba(217,161,252,1);
  opacity: 1;
  position: absolute;
  top: 39%;
  left: 70%;
  overflow: hidden;
}
.Hygeine {
  width: 24%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40.5%;
  left: 70%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.HealthButton {
  width: 24%;
  height: 9%;
  background: rgba(217,161,252,1);
  opacity: 1;
  position: absolute;
  top: 49%;
  left: 70%;
  overflow: hidden;
}
.Health {
  width: 24%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50.5%;
  left: 70%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.BuyingSuppliesButton {
  width: 24%;
  height: 9%;
  background: rgba(217,161,252,1);
  opacity: 1;
  position: absolute;
  top: 59%;
  left: 70%;
  overflow: hidden;
}
.BuyingSupplies {
  width: 24%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 60.5%;
  left: 70%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.FoodButton {
  width: 24%;
  height: 9%;
  background: rgba(217,161,252,1);
  opacity: 1;
  position: absolute;
  top: 69%;
  left: 70%;
  overflow: hidden;
}
  .Food {
    width: 24%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 70.5%;
    left: 70%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}
.DayPlanButton {
  width: 24%;
  height: 9%;
  background: rgba(217,160,251,1);
  opacity: 1;
  position: absolute;
  top: 79%;
  left: 70%;
  overflow: hidden;
}
.DayPlan {
  width: 24%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80.5%;
  left: 70%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.petspic {
  position: absolute;
   left: 2%;
   top: 0.3%;
 }

 .GeneralTipsButton:hover {
  width: 25%;
  height: 10%;
  background: rgb(86, 19, 241);
  top: 19%;
  left: 69.5%;
}