* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0%;
    width: 100%;
    height: 100%;
    margin-right: 0%;
    background: rgba(182,228,255,1);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .YellowCircle {
    width: 64%;
    height: 152%;
    background: rgba(251,210,62,1);
    opacity: 1;
    position: absolute;
    top: -15%;
    left: -37%;
    border-radius: 50%;
    transform: rotate(-25.04deg);
  }
  .QuestionMark{
   width: 100%; 
   height: 100%;
   opacity: 1;
   position: absolute;
   left: 40%;
   top: 30%;
  }
  .HeaderBackground {
    width: 100%;
    height: 15%;
    background: rgba(200,241,254);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
  }
  .PetStories {
    width: 20%;
    color: rgba(0,0,0,1);
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
    top: 1%;
    left: 80%;
  }
  .PetStoriesButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 79%;
    border-radius: 50%;
  }
  .ContactUs {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 56%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    top: 1%;
    left: 34%;
    border-radius: 50%;
  }
  .ContactUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 57%;
    border-radius: 50%;
  }
  .AboutUs {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 33%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .AboutUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 34%;
    border-radius: 50%;
  }
  .HomeButton {
    width: 14%;
    height: 11%;
    background: rgba(156,230,234,1);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 15.5%;
    overflow: hidden;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .Choosetheareawecanhelpwith {
    width: 53%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20%;
    left: 24%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .GeneralTipsButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 16%;
    left: 70%;
    overflow: hidden;
  }
  .GeneralTips {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 250%;
    opacity: 1;
    text-align: center;
  }
  .TrainingButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 28%;
    left: 70%;
    overflow: hidden;
  }
  .Training {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .HygeineButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 70%;
    overflow: hidden;
  }
  .Hygeine {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .HealthButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 52%;
    left: 70%;
    overflow: hidden;
  }
  .Health {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .BuyingSuppliesButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 64%;
    left: 70%;
    overflow: hidden;
  }
  .BuyingSupplies {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .FoodButton {
    width: 24%;
    height: 9%;
    background: rgba(217,161,252,1);
    opacity: 1;
    position: absolute;
    top: 76%;
    left: 70%;
    overflow: hidden;
  }
    .Food {
      width: 100%;
      height: 100%;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 25%;
      left: 3%;
      font-family: Alegreya Sans;
      font-weight: Regular;
      font-size: 36px;
      opacity: 1;
      text-align: center;
  }
  .DailyPlanButton {
    width: 24%;
    height: 9%;
    background: rgba(217,160,251,1);
    opacity: 1;
    position: absolute;
    top: 88%;
    left: 70%;
    overflow: hidden;
  }
  .DailyPlan {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .petspic {
    position: absolute;
     left: 2%;
     top: 0.3%;
   }
  .GeneralTipsButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 15.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .TrainingButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 27.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .HygeineButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 39.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .HealthButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 51.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .BuyingSuppliesButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 63.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .FoodButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 75.5%;
    left: 69.5%;
    overflow: hidden;
  }
  .DailyPlanButton:hover {
    width: 25%;
    height: 10%;
    background: #E986F9;
    opacity: 1;
    position: absolute;
    top: 87.5%;
    left: 69.5%;
    overflow: hidden;
  }