* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0%;
    width: 100%;
    height: 100%;
    margin-right: 0%;
    background: rgba(182,228,255,1);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .HeaderBackground {
    width: 100%;
    height: 15%;
    background: rgba(200,241,254);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
  }
  .PetStories {
    width: 20%;
    color: rgba(0,0,0,1);
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
    top: 1%;
    left: 80%;
  }
  .PetStoriesButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 79%;
    border-radius: 50%;
  }
  .ContactUs {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 56%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    top: 1%;
    left: 34%;
    border-radius: 50%;
  }
  .ContactUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 57%;
    border-radius: 50%;
  }
  .AboutUs {
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3%;
    left: 33%;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .AboutUsButton {
    width: 18%;
    height: 10%;
    background: rgba(134,240,255,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 34%;
    border-radius: 50%;
  }
  .HomeButton {
    width: 14%;
    height: 11%;
    background: rgba(156,230,234,1);
    opacity: 1;
    position: absolute;
    top: 1%;
    left: 15.5%;
    overflow: hidden;
    font-family: Alegreya Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .petspic {
   position: absolute;
    left: 2%;
    top: 0.3%;
  }
  .Herearesomestoriespets{
  width: 42%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  }
  .squareforlh{
    position: absolute;
    width: 35.1%;
    height: 7.4%;
    left: 3.5%;
    top: 32.8%;
    background: #FCD23E;
  }
  .squareforrh{
    position: absolute;
    width: 36.6%;
    height: 50.6%;
    left: 57.6%;
    top: 32.8%;
    background: #000000;
  }
  .textforlh{
    position: absolute;
    width: 98.8%;
    height: 58.5%;
    left: 1.2%;
    top: 1.2%;
    font-family: Alegreya Sans;
    font-size: 36px;
    text-align: center;
    color: #000000;    
  }
  .textforrh{
    position: absolute;
    width: 98.8%;
    height: 58.5%;
    left: 1.2%;
    top: 1.2%;
    font-family: Alegreya Sans;
    font-size: 36px;
    text-align: center;
    color: #FCD23E;     
  }